.wrapper {
  padding-right: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.stat {
  display: flex;
  align-items: center;
  gap: 10px;
  p {
    color: var(--white);
    font-size: var(--font--2);
  }
}
