$padding: 10px;
$border-radius: 3px;
$border-radius-outer: calc(#{$border-radius} + #{$padding});

.inner {
  user-select: none;
  display: flex;
  gap: 10px;
  transition: border 0.3s;
  cursor: pointer;
  position: relative;
  padding: 5px 0px;

  &[data-open='true'] {
    p {
      color: var(--white);
    }
  }
}

.selectedOptionWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  p {
    text-transform: capitalize;
    color: var(--white-65);
    font-size: var(--font--2);
  }
}

@mixin line {
  & + .item,
  & + .subMenu {
    &::before {
      background-color: var(--white-15);
      opacity: 0.5;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 90%;
      transform: translateX(5%);
      height: 1px;
    }
  }

  &:hover {
    & + .item,
    & + .subMenu {
      &::before {
        background-color: transparent;
      }
    }
  }
}

.subMenu {
  @include line;
  @include mixins.dropdownHoverBackground;
  user-select: none;
  display: flex;
  gap: 10px;
  height: 38px;
  transition: border 0.3s;
  padding: $padding;
  position: relative;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: $border-radius;
  &:hover {
    > p,
    .selectedOptionWrapper p {
      color: var(--white);
    }
    .arrow svg {
      fill: var(--white);
    }
    .checkIcon {
      stroke: var(--white);
    }
  }
  .subMenuList {
    left: calc(100% + 10px);
    position: absolute;
    top: 0;
    &::before {
      content: '';
      position: absolute;
      top: -10px;
      left: -10px;
      width: 100%;
      height: 100%;
      opacity: 0.5;
    }
  }
}

.arrow {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    transform: translateY(1px);
    font-size: var(--font--2);
    fill: var(--white-65);
  }
}

.list {
  position: absolute;
  background-color: var(--dropdown-list-background-color);
  box-shadow: var(--dropdown-list-box-shadow);
  backdrop-filter: blur(25px);
  z-index: 999;
  border: 1px solid var(--dropdown-list-border-color);
  border-radius: 13px;
  flex-shrink: 0;
  padding: $padding;
  display: flex;
  flex-direction: column;
}

.item {
  @include line;
  @include mixins.dropdownHoverBackground;
  padding: $padding;
  position: relative;
  display: flex;
  height: 38px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: $border-radius;
  form {
    display: flex;
    gap: 5px;
    padding-right: 5px;
  }
  p {
    white-space: nowrap;
    font-size: var(--font--2);
    text-transform: capitalize;
    color: var(--white-65);
  }
  &:hover {
    p {
      color: var(--white);
    }
    .checkIcon {
      stroke: var(--white);
    }
  }
  input {
    max-width: 60px;
    width: fit-content !important;
    padding: 0 5px;
    background-color: var(--dropdown-list-background-color);
    color: var(--window-text);
    outline: none;
    border: none;
    border-bottom: 1px solid var(--dropdown-list-border-color);
    &::placeholder {
      color: var(--white-45);
    }
  }
  svg {
    pointer-events: none;
  }

  .checkIcon {
    font-size: var(--font--2);
    stroke: hsl(215, 100%, 60%);
  }
  &[data-checked='true'] {
    .checkIcon {
      opacity: 1;
    }
  }
  &[data-checked='false'] {
    .checkIcon {
      opacity: 0;
    }
  }
  > div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
