:root {
  // container
  --container-background-color: var(--dropdown-list-background-color);

  --test: hsl(0, 100%, 50%);
  --hue: 230;
  --saturation: -8%;
  --lightness: 1%;

  // space
  --space-background: hsl(
    var(--hue),
    calc(var(--saturation) + 21%),
    calc(var(--lightness) + 6%)
  );
  --space-grid-color: hsl(
    var(--hue),
    calc(var(--saturation) + 23%),
    calc(var(--lightness) + 35%)
  );
  --space-border-color: hsl(
    var(--hue),
    calc(var(--saturation) + 23%),
    calc(var(--lightness) + 14%)
  );
  --space-outer-padding: 10px;

  // snap lines
  --snap-line-color: #ac2283;
  --success-color: #32ff73db;

  // window
  --window-outline: hsl(
    var(--hue),
    calc(var(--saturation) + 15%),
    calc(var(--lightness) + 20%)
  );
  --window-header: hsl(
    var(--hue),
    calc(var(--saturation) + 20%),
    calc(var(--lightness) + 7%)
  );
  --window-content: hsl(
    var(--hue),
    calc(var(--saturation) + 19%),
    calc(var(--lightness) + 13%)
  );
  --window-text: hsl(
    var(--hue),
    calc(var(--saturation) + 25%),
    calc(var(--lightness) + 83%)
  );
  --window-text-bold: hsl(
    var(--hue),
    calc(var(--saturation) + 10%),
    calc(var(--lightness) + 46%)
  );
  --window-text-title: hsl(0, 0%, calc(var(--lightness) + 100%));
  --window-border-active: hsl(
    var(--hue),
    calc(var(--saturation) + 15%),
    calc(var(--lightness) + 30%)
  );
  --window-border-hovered: rgba(242, var(--hue), 255, 0.441);
  --window-box-shadow: var(--dropdown-list-box-shadow);
  --window-close-button-color: #f14971;
  --window-full-button-color: #3fcd6f;
  // generate button
  --window-generate-button-color: hsl(215, 100%, 42%);
  --window-generate-button-border-top: hsla(
    var(--hue),
    calc(var(--saturation) + 100%),
    calc(var(--lightness) + 85%),
    0.469
  );
  --window-generate-button-color-disabled: hsl(215, 34%, 52%);
  // dimensions
  --window-top-bar-height: 40px;

  // canvas
  --canvas-background: hsl(
    var(--hue),
    calc(var(--saturation) + 22%),
    calc(var(--lightness) + 4%)
  );

  // connections
  --connection-color: hsl(var(--hue), 15%, calc(var(--lightness) + 60%));
  --connections-from-color: #3fcd6f;
  --connections-to-color: #f14971;

  // toast
  --toast-background: var(--dropdown-list-background-color);
  --toast-border: hsl(var(--hue), 20%, calc(var(--lightness) + 17%));
  --toast-text: hsl(
    var(--hue),
    calc(var(--saturation) + 100%),
    calc(var(--lightness) + 90%)
  );

  // misc
  --font--3: 12px;
  --font--2: 14px;
  --font--1: 20px;
  --white-65: hsl(
    var(--hue),
    calc(var(--saturation) + 10%),
    calc(var(--lightness) + 69%)
  );
  --white-45: hsl(
    var(--hue),
    calc(var(--saturation) + 10%),
    calc(var(--lightness) + 45%)
  );
  --white-15: hsl(
    var(--hue),
    calc(var(--saturation) + 21%),
    calc(var(--lightness) + 14%)
  );
  --white: hsl(
    var(--hue),
    calc(var(--saturation) + 100%),
    calc(var(--lightness) + 95%)
  );
  --color-accent: hsla(
    calc(var(--hue) + 18),
    calc(var(--saturation) + 100%),
    calc(var(--lightness) + 75%),
    1
  );
  --color-scrollbar: hsl(
    var(--hue),
    calc(var(--saturation) + 20%),
    calc(var(--lightness) + 18%)
  );

  // item / list
  --item-list-background: hsla(
    var(--hue),
    calc(var(--saturation) + 20%),
    calc(var(--lightness) + 7%),
    0.75
  );
  --item-list-border: var(--white-15);
  --item-list-text-shadow: 0px 1px 1px black;
  --item-border: var(--white-15);
  --item-border-open: hsla(
    var(--hue),
    calc(var(--saturation) + 20%),
    calc(var(--lightness) + 30%),
    0.75
  );

  // toolbar
  --toolbar-background: var(--dropdown-list-background-color);
  --toolbar-border: var(--dropdown-list-border-color);

  // tooltip
  --tooltip-background-color: hsla(
    calc(var(--hue)),
    calc(var(--saturation) + 20%),
    calc(var(--lightness) + 17%),
    1
  );
  --tooltip-border: hsla(
    calc(var(--hue)),
    calc(var(--saturation) + 20%),
    calc(var(--lightness) + 30%),
    1
  );

  // context menu
  --context-menu-background: var(--dropdown-list-background-color);
  --context-menu-border: var(--dropdown-list-border-color);

  // dropdown
  --dropdown-list-background-color: hsl(
    var(--hue),
    calc(var(--saturation) + 20%),
    calc(var(--lightness) + 4%)
  );
  --dropdown-list-border-color: var(--white-15);
  --dropdown-list-box-shadow: 0 3px 6px #00000030, 0 23px 14px #0000001a,
    0 41px 17px #00000008;
  --dropdown-item-hover-background-color: hsl(215, 100%, 42%);
  // dimensions
  --dropdown-menu-height: 45px;

  // z-indexes
  --fullscreen-window-z-index: 100;
  --toolbar-z-index: 101;

  --modal-backdrop-color: hsla(
    var(--hue),
    calc(var(--saturation) + 30%),
    calc(var(--lightness) + 7%),
    0.45
  );
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  flex-shrink: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-geist-sans), serif;
  user-select: none;
  color: #d8d8d8;

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  ::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
  }
}

h1 {
  font-weight: 500;
}

nextjs-portal {
  display: none;
}

html {
  background-color: black;
}
body {
  overscroll-behavior: none;
  overflow: hidden;
}

wrapper,
inner,
container,
outer,
shadow,
overlay,
placeholder,
divider,
item {
  display: block;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  color: white;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 65px;
  padding: 6px;
  overflow: hidden;
  width: 300px;

  border: 1px solid var(--dropdown-list-border-color);
  border-radius: 20px;
  background-color: var(--dropdown-list-background-color);

  box-shadow: var(--dropdown-list-box-shadow);

  @include mixins.stripeBackground(
    hsla(
      var(--hue),
      calc(var(--saturation) + 20%),
      calc(var(--lightness) + 13%),
      1
    ),
    transparent,
    5px
  );

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(
      180deg,
      rgba(45, 45, 45, 0) 0%,
      var(--dropdown-list-background-color) 30px
    );
  }
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modalBackdrop {
  position: fixed;
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-backdrop-color);
  z-index: -2;
}

input {
  &[type='range'] {
    --c: var(--color-accent); /* active color */
    --g: 0px; /* the gap */
    --l: 5px; /* line thickness*/
    --s: 30px; /* thumb size*/
    border-radius: 20px;
    width: 100%;
    height: var(--s); /* needed for Firefox*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    cursor: pointer;
    overflow: hidden;
    &::-webkit-slider-thumb {
      height: 15px;
      aspect-ratio: 1;
      border-radius: 50%;
      box-shadow: 0 0 0 10px inset var(--color-accent);
      border-image: linear-gradient(90deg, var(--c) 50%, var(--white-65) 0) 0 1 /
        calc(50% - var(--l) / 2) 100vw/0 calc(100vw + var(--g));
      -webkit-appearance: none;
      appearance: none;
    }
  }
}

.loadingShimmer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  $loading-background-1: hsla(230, 10%, 51%, 0.101);
  $loading-background-2: hsla(230, 10%, 51%, 0.211);

  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: $loading-background-1;
  background: linear-gradient(
    to right,
    $loading-background-1 8%,
    $loading-background-2 38%,
    $loading-background-1 54%
  );
  background-size: 200% 100%;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -90% 0;
  }
}
