.wrapper {
  position: absolute;
}

.inner {
  position: absolute;
  top: 0;
  z-index: 10;
  @include mixins.stripeBackground(
    hsla(
      var(--hue),
      calc(var(--saturation) + 20%),
      calc(var(--lightness) + 13%),
      1
    ),
    transparent,
    10px
  );
}

.content {
  height: calc(100% - 57px);
}
